<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <div class="icon">
                <span class="material-symbols-outlined">location_on</span>
            </div>
            <div class="content">
                <h4>Address</h4>
                <p>Ganesh Peth Road,<br/>Exploreway Office, Pune</p>
            </div>
        </div>
        <div class="footer-section">
            <div class="icon">
                <span class="material-symbols-outlined">
                    phone_in_talk
                </span>
            </div>
            <div class="content">
                <h4>Phone</h4>
                <p>(+1) 87987 90790</p>
            </div>
        </div>
        <div class="footer-section">
            <div class="icon">
                <span class="material-symbols-outlined">
                    schedule
                </span>
            </div>
            <div class="content">
                <h4>Working Hours</h4>
                <p>Mon - Fri: 9AM - 5PM</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>
            Copyright © 2024 ExploreWay. All rights reserved.
            <strong>India CAB Booking Pte Ltd</strong>      
        </p>
    </div>
</footer>
