<div class="home">
    <div class="home-text">
        <h1 class="text-4xl font-bold mb-4">Welcome to ExploreWay</h1>
        <p class="text-3xl font-semibold font-serif  text-white mb-4">Your One-Stop Destination for All Your Travel Needs</p>
        <button routerLink="/book-online">Book Now</button>
    </div>
</div>
<!---Section-->
<section class="service-section">
    <div class="text-container">
        <h2>From Premium Cab To Luxurious Buses</h2>
        <div class="text-columns">
            <div>
                <h3>Premium Service</h3>
                <p>
                  Extensive range of services in India that include, 7 seaters cab charter service to
                  shuttle bus services with our 13 seaters mini bus. We will put your needs above all else
                  and serve all your travel needs.
                </p>
            </div>
            <div>
                <h3>Affordable Services</h3>
                <p>
                  Travellers can enjoy a blend of luxury, convenience, and practicality whether in solo or
                  in groups, yet at an affordable price. We ensure you will have a hassle-free journey
                  anywhere in India and it will definitely be a memorable and comfortable travel experience.
                </p>
            </div>
        </div>
    </div>
    <div class="image-container">
        <img src="../../../assets/Volvo9600s.jpg" alt="AC Bus"/>
        <img src="../../../assets/innova_hycross.jpg" alt="Cab"/>
    </div>
</section>
<div class="quote-section">
    <blockquote>
        <p>
           "Tired of surge pricing when booking a ride? Try our affordable advance booking service and
           we guarantee you will have a fully satisfied experience."
        </p>
    </blockquote>
</div>

<section class="transport">
    <div class="transport-text">
        <h5>Our Transport Solutions</h5>
        <p>We provide a wide range of services to Any Occasion/Event</p>
    </div>

    <div class="image-grid">
        <div class="image-card">
            <img src="../../../assets/plane.jpg" alt="Image1"/>
            <div class="overlay">
                <p>Airport & Hotel Transfer</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/corporate.jpg" alt="Image2"/>
            <div class="overlay">
                <p>Corporate Events</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/privateevents.jpg" alt="Image3"/>
            <div class="overlay">
                <p>Private & Special Events</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/wedding.jpg" alt="Image4"/>
            <div class="overlay">
                <p>Weddings</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/sight1.jpg" alt="Image5"/>
            <div class="overlay">
                <p>Tours & Sightseeing</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/Ev.jpg" alt="Image6"/>
            <div class="overlay">
                <p>Eco-Friendly & Green Option</p>
            </div>
        </div>
        <div class="image-card">
            <img src="../../../assets/lamp.jpg" alt="Image7"/>
            <div class="overlay">
                <p>Religious & Pilgrimage Tours</p>
            </div>
        </div>
    </div>
</section>

<div class="contact">
    <div class="text-box">
      <div class="contact-text">
        <span class="material-symbols-outlined">
            contact_phone
        </span>
        <h2>Not Ready To Book</h2>
        <p>Use our contact form to get in touch</p>
        <button routerLink="/contact-us">Contact Us</button>
      </div>
    </div>  
</div>

<section class="Fleet">
    <div class="fleet-text">
        <h4>Our FLEET</h4>
        <p>For All Ocassions</p>
    </div>
    <div class="cab-container">
        <div class="cab-card">
            <img src="../../../assets/Forceurbania.jpg" alt="Picture1"/>
            <div class="cab-info">
                <button routerLink="/">MiniBus</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">14</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">10</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/Volvo9600s.jpg" alt="Picture2"/>
            <div class="cab-info">
                <button routerLink="/">Sleeper</button>
                <span class="material-symbols-outlined">airline_seat_flat</span><p class="text-xl text-white">40</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">25</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/Volvo9400b11r.jpg" alt="Picture3"/>
            <div class="cab-info">
                <button routerLink="/">Coach Bus</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">40</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">25</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/MercedesTour.jpg" alt="Picture4"/>
            <div class="cab-info">
                <button routerLink="/">Coach Bus</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">40</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">20</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/JBMLUXEV.jpg" alt="Picture5"/>
            <div class="cab-info">
                <button routerLink="/">EV BUS</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">45</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">32</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/Hycross.jpg" alt="Picture6"/>
            <div class="cab-info">
                <button routerLink="/">MPV</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">7</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">5</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/ertiga.jpg" alt="Picture7"/>
            <div class="cab-info">
                <button routerLink="/">MPV</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">7</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">4</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/creta.jpg" alt="Picture8"/>
            <div class="cab-info">
                <button routerLink="/">SUV</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">5</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">5</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/tatanexonev.jpg" alt="Picture9"/>
            <div class="cab-info">
                <button routerLink="/">EV SUV</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">5</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">5</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/tigorev.jpg" alt="Picture10"/>
            <div class="cab-info">
                <button routerLink="/">EV Sedan</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">5</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">4</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/Swift_Dezire.jpg" alt="Picture11"/>
            <div class="cab-info">
                <button routerLink="/">Sedan</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">5</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">4</p>
            </div>
        </div>
        <div class="cab-card">
            <img src="../../../assets/hondacity.jpg" alt="Picture11"/>
            <div class="cab-info">
                <button routerLink="/">Sedan</button>
                <span class="material-symbols-outlined">person</span><p class="text-xl text-white">5</p>
                <span class="material-symbols-outlined">luggage</span><p class="text-xl text-white">4</p>
            </div>
        </div>

    </div>
</section>