<section class="about">
    <div class="about-text">
        <h1>About Us</h1>
        <h4 routerLink="/book-online" class="cursor-pointer underline">BookExploreWayTours>About Us</h4>
    </div>
</section>

<section class="about-us">
    <div class="about-us-text">
        <h5>Over a years, ExploreWay Booking Pte Ltd (registered in India ) have been providing the best Cabs and Bus Charter services. Quality transport services through dedication.</h5>
        <p>Convenience and comfort are essential factors when travelling anywhere in India during your trip. With our wide range of vehicles, 
        ranging from 5/7 Seater sedan/SUV cars, 13 Seater minibus, 22/40 seaters coach bus including EVs, and even nature friendly EVs cars for customers satisfaction, can definitely cater to your transport needs, 
        providing you with a luxurious travel experience.</p>
    </div>
    <div class="about-us-image">
        <img src="../../../assets/innova_hycross.jpg">
    </div>
    <div class="about-us-container">
        <div class="about-us-image2">
            <img src="../../../assets/customer.jpg" alt="Customer" />
        </div>
        <div class="customer-text">
            <h2>Why Choose Us?</h2>
            <p>
                We know exactly what it takes to provide exemplary transport services to all our clients, and make sure that all of them get the same levels of service from us. There is no discrimination at all from our end, since we love to meet the transport and travel demands of everyone in India. 
                Another reason why you should choose us is because we provide luxury transport services to our customers at highly affordable rates. 
                We make traveling convenient and practical at the same time, 
                and you can choose to take advantage of our excellent services whenever you choose to.
            </p>
        </div>
    </div>
</section>
