<section class="services">
    <div class="services-text">
        <h1>Our Services</h1>
        <h4 routerLink="/book-online" class="animate-bounce underline">BookExploreWayTours> Services</h4>
    </div>
</section>

<section class="service-section">
    <div class="services-container">
        <h1> Book ExploreWayCabs</h1>
        <p>Brought you by India Cab Booking Pte Ltd. Bringing you credible, reliable, and affordable transport services in India.</p>
    </div>
    <div class="services-para">
        <p>"Our transport services cater to all occasions and events.<br> 
            From One/Multiple transfer, daily/weekly bus charter and for all  the occasions are available."</p>
    </div>
</section>

<section class="service-ocassions">
    <div class="service-text">
        <p>We provide a wide range of services to Any Occasion/Event</p>
    </div>

    <div class="service-grid">
        <div class="service-card">
            <img src="../../../assets/plane.jpg" alt="Image1"/>
            <div class="overlay">
                <p>Airport & Hotel Transfer</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/corporate.jpg" alt="Image2"/>
            <div class="overlay">
                <p>Corporate Events</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/privateevents.jpg" alt="Image3"/>
            <div class="overlay">
                <p>Private & Special Events</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/wedding.jpg" alt="Image4"/>
            <div class="overlay">
                <p>Weddings</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/sight1.jpg" alt="Image5"/>
            <div class="overlay">
                <p>Tours & Sightseeing</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/Ev.jpg" alt="Image6"/>
            <div class="overlay">
                <p>Eco-Friendly & Green Option</p>
            </div>
        </div>
        <div class="service-card">
            <img src="../../../assets/lamp.jpg" alt="Image7"/>
            <div class="overlay">
                <p>Religious & Pilgrimage Tours</p>
            </div>
        </div>
    </div>
</section>
